<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <script src="https://unpkg.com/gifler@0.1.0/gifler.min.js"></script> <!-- Deals with rendering GIFs on a context. -->

    <title>Valiant.io</title>
</head>
<body>
    <div id="homescreen">
        <h1 id="title">Valiant.io</h1>
        <div id="buttons">
            <button id="play">Play</button>
            <div id="gamemodes">
                <button id="gamemode-ffa">ffa</button>
                <button id="gamemode-duel" class="disabled" style="filter: grayscale(1)">duel</button>
                <button id="gamemode-boss" class="disabled" style="filter: grayscale(1)">boss</button>
            </div>
            <div id="character">
                <button id="arrow-left">◀</button>
                <button id="arrow-right">▶</button>
                <p id="character-name">?</p>
                <img id="character-sprite" height="100" width="100">
                <div id="ability"></div>
                <span id="ability-name"></span>
                <span id="ability-desc"></span>
                <button id="settings">settings</button>  
            </div>
        </div>
    </div>
    <div id="settingsModal">
        <div class="option">
            <input id="hideGrid" type="checkbox"> Hide Grid
        </div>
        <button id="back">Back</button>  
    </div>
    <div id="disconnect" style="display: none; text-align: center;">
        <h1 id="disconnect-title" style="font-size: 100px; text-decoration: underline;">Disconnected</h1>
        <p id="disconnect-message" style="font-size: 25px;">You have been disconnected from the server.</p>
    </div>
    <canvas id="canvas"></canvas>
    <script src="bundle.js" defer></script>
</body>
</html>