<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">

    <title>Valiant.io</title>
</head>
<body>
    <h1 id="title">Valiant.io</h1>
    <div id="homescreen">
        <button id="play">Play</button>
        <div id="gamemodes">
            <button id="gamemode-duel">duel</button>
            <button id="gamemode-ffa">ffa</button>
            <button id="gamemode-boss">boss</button>
        </div>
        <div id="character">
            <button id="arrow-left">◀</button>
            <button id="arrow-right">▶</button>
            <p id="character-name">?</p>
            <img id="character-sprite" height="100" width="100">
            <button id="settings">settings</button>  
        </div>
    </div>
    <canvas id="canvas"></canvas>
    <script src="bundle.js" defer></script>
</body>
</html>